<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <%# Favicon %>
    <link rel="apple-touch-icon" sizes="57x57" href="<%= process.env.ADMIN_BASE%>/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="<%= process.env.ADMIN_BASE%>/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="<%= process.env.ADMIN_BASE%>/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="<%= process.env.ADMIN_BASE%>/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="<%= process.env.ADMIN_BASE%>/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="<%= process.env.ADMIN_BASE%>/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="<%= process.env.ADMIN_BASE%>/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="<%= process.env.ADMIN_BASE%>/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= process.env.ADMIN_BASE%>/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="<%= process.env.ADMIN_BASE%>/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= process.env.ADMIN_BASE%>/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="<%= process.env.ADMIN_BASE%>/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= process.env.ADMIN_BASE%>/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="<%= process.env.ADMIN_BASE%>/images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <title><%= process.env.PROJECT_NAME%> - Set Password</title>

    <!-- Bootstrap core CSS -->
    <link href="<%= process.env.ADMIN_BASE%>/admin-assets/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .form-error{
            color: red;
        }
    img{
        height: 150px;
    }
    </style>

</head>

<body>

    <% if (status == 1) { %>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center pt-5">
                <img src="<%= process.env.ADMIN_BASE%>/images/logo.png" alt="<%= process.env.ADMIN_BASE%> Logo" width="180">
                <h1 class="mt-5"> Change Password </h1>
                <div class="col-lg-12 text-left">
                    <form method="POST" id="changePassword">
                        <div class="form-group">
                            <label for="npwd">New Password</label>
                            <input name="pass_confirmation" type="password" class="form-control" id="npwd" data-validation="length required"
                                data-validation-length="min6">
                            <input type="hidden" value="<%= token %>" name="token">
                        </div>
                        <div class="form-group">
                            <label for="pwd">Confirm Password</label>
                            <input type="password" class="form-control" id="pwd" name="pass" data-validation="confirmation required">
                        </div>
                        <button type="submit" id="submit" class="btn btn-success btn-block">Submit</button>
                    </form>
                </div>
            </div>
            <div class="col text-center pt-3">
                <span id="test"></span>
                <small class="mt-2">Copyright &copy; 2019 All Rights Reserved</small>
            </div>
        </div>
    </div>
    <% } else { %>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center pt-5">
                <img src="<%= process.env.ADMIN_BASE%>/images/logo.png" alt="<%= process.env.PROJECT_NAME%> Logo" width="180">
                <h1 class="mt-5 text-danger">
                    <%= title %>
                </h1>
            </div>
            <div class="col text-center pt-3">
                <small class="mt-2">Copyright &copy; 2019 All Rights Reserved</small>
            </div>
        </div>
    </div>
    <% } %>

    <!-- Bootstrap core JavaScript -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        $.validate({
            modules: 'html5, security'
        });
        $( document ).ready(function() {
            $("#changePassword").submit(function (e) {
                e.preventDefault();
                $("#submit").text("Processing...");
                $("#submit").attr("disabled", "disabled");
                var form_data = new FormData(this);
                $.ajax({
                    url: '../reset_password_web/',
                    type: "POST",
                    data: form_data,
                    contentType: false,
                    cache: false,
                    processData: false
                }).done(function (response) {
                    // console.log(response);
                    if(response.status == 1){
                        swal("Good job!", response.message, "success").then((value) => {
                            window.location.href = '#';
                        });
                        $("#submit").removeAttr("disabled");
                        $("#submit").text("Submit");
                    } else {
                        swal("Error!", response.message, "error").then((value) => {
                            location.reload();
                        });
                        $("#submit").removeAttr("disabled");
                        $("#submit").text("Submit");
                    }
                });
            });
        });
    </script>

</body>

</html>