<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />

        <title><%= process.env.PROJECT_NAME%> - Add Money</title>

        <!-- Bootstrap core CSS -->
        <link href="<%= process.env.ADMIN_BASE%>/admin-assets/dist/css/bootstrap.min.css" rel="stylesheet" />
        <style>
            .form-error {
                color: red;
            }
            .swal-text {
                text-align: center;
            }
        </style>
    </head>

    <body>
        <% if (status == 1) { %>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center pt-5">
                    <img
                        src="<%= process.env.ADMIN_BASE%>/images/logo.png"
                        alt="<%= process.env.PROJECT_NAME%> Logo"
                        width="180"
                    />
                    <h1 class="mt-5 text-success">Payment Completed Successfully</h1>
                </div>
            </div>
            <div class="col text-center pt-3">
                <small class="mt-2">Copyright &copy; 2019 All Rights Reserved</small>
            </div>
        </div>
        <% } else { %>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center pt-5">
                    <img
                        src="<%= process.env.ADMIN_BASE%>/images/logo.png"
                        alt="<%= process.env.PROJECT_NAME%> Logo"
                        width="180"
                    />
                    <h1 class="mt-5 text-danger">Payment Failed</h1>
                </div>
            </div>
            <div class="col text-center pt-3">
                <small class="mt-2">Copyright &copy; 2019 All Rights Reserved</small>
            </div>
        </div>
        <% } %>
        <div style="display: none" id="status" data-msg="<%= msg %>" data-status="<%= status %>"></div>
        <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script>
            var k = $('#status').attr('data-msg');
            var status = $('#status').attr('data-status');
            swal(status == 1 ? 'Voila!' : 'Oops!', k, status == 1 ? 'success' : 'error').then(value => {
                window.location.href = 'uniwebview://cancel';
            });
        </script>
    </body>
</html>
